LN2/WebContent/wsdl/BillQuery.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.example.org/BillQuery/" xmlns:intf="http://www.example.org/BillQuery/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BillQuery/">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BillQuery/">
   <element name="BillQueryRequest">
    <complexType>
     <sequence>
      <element name="RequestId" nillable="true" type="xsd:string"/>
      <element name="SystemId" nillable="true" type="xsd:string"/>
      <element name="QueryType" nillable="true" type="xsd:string"/>
      <element name="ServiceId" nillable="true" type="xsd:string"/>
      <element name="ServiceKind" type="xsd:int"/>
      <element name="FeeDate" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="FeeInfo">
    <sequence>
     <element name="Level" type="xsd:int"/>
     <element name="Name" nillable="true" type="xsd:string"/>
     <element name="Value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="UseInfo">
    <sequence>
     <element name="ServiceId" nillable="true" type="xsd:string"/>
     <element name="ProdUseName" nillable="true" type="xsd:string"/>
     <element name="TotalUseValue" nillable="true" type="xsd:string"/>
     <element name="UseInfoValue" nillable="true" type="xsd:string"/>
     <element name="AmountType" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="BillInfo">
    <sequence>
     <element name="ProdName" nillable="true" type="xsd:string"/>
     <element name="ServiceInfoStr" nillable="true" type="xsd:string"/>
     <element name="IfHaveOverlyPkg" nillable="true" type="xsd:string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="FeeInfo" nillable="true" type="impl:FeeInfo"/>
     <element maxOccurs="unbounded" minOccurs="0" name="UseInfo" nillable="true" type="impl:UseInfo"/>
    </sequence>
   </complexType>
   <complexType name="AcctFeeInfo">
    <sequence>
     <element name="UsedFee" type="xsd:long"/>
     <element name="PaidFee" type="xsd:long"/>
     <element name="PaidPreFee" type="xsd:long"/>
     <element name="PaidTransFee" type="xsd:long"/>
     <element name="ShouldPayFee" type="xsd:long"/>
    </sequence>
   </complexType>
   <complexType name="PointInfo">
    <sequence>
     <element name="LastPoint" type="xsd:double"/>
     <element name="ThisPoint" type="xsd:double"/>
     <element name="UsePoint" type="xsd:double"/>
     <element name="AddPoint" type="xsd:double"/>
     <element name="YearPoint" type="xsd:double"/>
    </sequence>
   </complexType>
   <complexType name="CoutesyReminderInfo">
    <sequence>
     <element name="ProdEstimate" nillable="true" type="xsd:string"/>
     <element name="ConsumptionAnalysis" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="BillQueryResponse">
    <complexType>
     <sequence>
      <element name="ResponseId" nillable="true" type="xsd:string"/>
      <element name="ResultCode" nillable="true" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="ResultInfo" nillable="true" type="xsd:string"/>
      <element maxOccurs="1" minOccurs="0" name="TotalBillFee" nillable="true" type="xsd:long"/>
      <element maxOccurs="unbounded" minOccurs="0" name="BillInfoGroup" nillable="true" type="impl:BillInfo"/>
      <element maxOccurs="1" minOccurs="0" name="AcctFeeInfo" nillable="true" type="impl:AcctFeeInfo"/>
      <element maxOccurs="1" minOccurs="0" name="PointInfo" nillable="true" type="impl:PointInfo"/>
      <element maxOccurs="1" minOccurs="0" name="CoutesyReminderInfo" nillable="true" type="impl:CoutesyReminderInfo"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="executeResponse">

      <wsdl:part element="impl:BillQueryResponse" name="BillQueryResponse">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="executeRequest">

      <wsdl:part element="impl:BillQueryRequest" name="BillQueryRequest">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BillQuery">

      <wsdl:operation name="execute" parameterOrder="BillQueryRequest">

         <wsdl:input message="impl:executeRequest" name="executeRequest">

       </wsdl:input>

         <wsdl:output message="impl:executeResponse" name="executeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BillQuerySoapBinding" type="impl:BillQuery">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="execute">

         <wsdlsoap:operation soapAction="http://www.example.org/BillQuery/execute"/>

         <wsdl:input name="executeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="executeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BillQuery">

      <wsdl:port binding="impl:BillQuerySoapBinding" name="BillQuery">

         <wsdlsoap:address location="http://tempuri.org/LN2/services/BillQuery"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
